# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file. Set to true to stop searching for other .editorconfig files in parent directories.
root = true

# General settings for all files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.json]
indent_size = 4
