@using Resume.Bussines.Extensions
@using Resume.DAL.ViewModels.ContactUs;
@model ContactUsDetailsViewModel
@{
  ViewData["Title"] = "ContactUs List";
}


<div class="card">
  <div class="card-body">
    <h5 class="card-title">Create User</h5>

    <form class="row g-3" asp-action="Answer" method="post">
      <div class="col-12">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" type="text" class="form-control" disabled>
        <span asp-validation-for="Title" class="text-danger"></span>
      </div>
      <div class="col-12">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" type="text" class="form-control" disabled>
        <span asp-validation-for="FullName" class="text-danger"></span>
      </div>
      <div class="col-12">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" type="email" class="form-control" disabled>
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="col-12">
        <label asp-for="Message" class="form-label"></label>
        <textarea asp-for="Message" class="form-control" rows="10" disabled>@Model.Message</textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
      </div>
      <div class="col-12">
        <label asp-for="Answer" class="form-label"></label>
        <textarea asp-for="Answer" class="form-control" rows="10">@Model.Answer</textarea>
        <span asp-validation-for="Answer" class="text-danger"></span>
      </div>
      @if (string.IsNullOrEmpty(Model.Answer))
      {
        <div class="">
          <button type="submit" class="btn btn-primary">Answer</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      }
    </form><!-- Vertical Form -->

  </div>
</div>
